* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-size: 62.5%;
}
#root {
    height: 100%;
}
button {
    outline: 0;
    border: 0;
    background-color: transparent;
}
.app-wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.app {
    height: 100%;
    width: 100%;
    max-width: 1200px; 
}
.app__search {
    width: 100%;
    margin-top: 1rem;
    font-size: 1.8rem;
    padding: 0.5rem;
    outline: none;
    border: solid 1px rgb(0, 71, 104);
    border-radius: 2px;
}

table{
    margin-top: 1rem;
    width: 100%;
    border: solid 2px white;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}
.thead__header {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center; 
    column-gap: 0.5rem;
}

.thead__header-ascending::after {
    content: '';
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
    background-image: url(../img/sortAsc.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.thead__header-descending::after {
    content: '';
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
    background-image: url(../img/sortDesc.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.thead__header-off::after {
    content: '';
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
    background-image: url(../img/sortOff.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.thead__img {
    height: 10px;
}
th {
    min-width: 50px;
    padding: 1rem;
    background-color: #087bc8;
    color: white;
    resize:horizontal;
    overflow:auto
}
tr {
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #b7e2ff;
    color: #02263e;
}
tr:hover {
    transform: scale(105%);
    background-color: #3b97ff;
}
td {
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
.wrapper-loader {
    margin-top: 50px;
}
.wrapper-loader__loader {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.368);
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {
    height: auto;
    width: 400px;
    background-color: white;
    border-radius: 4px;
    padding: 1.5rem;
    font-size: 1.8rem;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 2rem;
    color: #858585;
    transition: all 0.3s ease;
}
.modal__close:hover {
    transform: scale(120%);
}